@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'New Amsterdam', sans-serif;
    font-weight: 300;
    color: beige;
    font-size:  17px;
}

a {
    text-decoration: none;
}
    img {
        max-width: 100%;
    }

.wrapper {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(173, 0, 0) 100%);
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo, footer .block .logo{
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Styles', sans-serif;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
list-style: none;
display: flex;
justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {color: beige;}
header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #dc6a00;
    border-radius: 10px;
}
header nav ul li:not(.active):not(.btn) a:hover {
border-bottom: 5px solid #dc0f00;
}

header nav ul li.btn a, .email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background: hsl(1, 91%, 18%);
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info {
    width: 400px;
    margin: 0 75px;
} 

.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 500;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 500;
}

.hero--info p {
font-weight: 400;
line-height: 170%;
margin: 30px 0;
}

.hero--info .btn {
    background: #FA9021;
    color: beige;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: hsl(1, 91%, 18%);
}

.hero img {
    position: absolute;
    top: -60px;
    right: 10px;
}

.trending {
    padding-top: 50px;
    padding-bottom: 10px;
}
.trending h3{
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all, .projects .see-all {
    color: beige;
    background:  #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}


.projects .see-all:hover{
    transform: scale(1.1);
    background: hsl(1, 91%, 18%);
}
.trending .see-all:hover{
    transform: scale(1.1);
    background: hsl(1, 91%, 18%);
}

.trending .games {
    display: flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 11px;
    width: 15%;
}

.banner {
    position: relative;
    top: 40px;
    padding: 80px 0;

}

.banner h3 {
    font-size:  30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    position: absolute;
    top: -20px;
    right: 200px;
    width: 15%;
}


.features {
    background: url('/img/Fon.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3 {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
    transition: all 500ms ease;
}

.features .info .block:hover{
    transform: scale(1.1);
}

features .info .block img {
    margin-bottom: 15px;
}

.projects {
padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 70px;
    text-align: center;
    margin: 0 auto;
}

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email.block h4 {
    font-size: 30px;
    font-weight: 300;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    padding: 20px 30px;
    position: relative;
    right: -120px;
    z-index: 1;
}
.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    border: 0;

    border-radius: 5px;
    z-index: 2;
    color:  #fff;
}

footer {
    background: #000;
    padding: 50px 0;
}

footer .block {
    display: flex;
    justify-content: space-between;
}

footer .block p {
    width: 300px;
    margin: 15px 0;

}

footer.block h4 {
    font-weight: 100;
    font-size: 15px;
}

footer .block ul {
    list-style: none;
}

footer .block ul li {
    margin-top: 7px;
    opacity: 0.8;
}